@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
body {
    font-family: "DM Sans", sans-serif;
}

div {
    background-color: #f1f3fb;
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
}

.userId {
    font-size: 24px;
    font-weight: bold;
}

.Id,
.title {
    font-size: 20px;
    font-weight: 500;
}

.title {
    font-style: italic;
}

.body {
    color: #333;
}